body {
    background-color: #f4f6f9;
  }
  
  .card {
    border: none;
    border-radius: 0.1rem;
  }
  
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
  }
  
  .form-label {
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  input.form-control {
    height: 55px;
    font-size: 1.1rem;
  }
  
  button.btn {
    height: 55px;
    font-size: 1.1rem;
  }
  
  .table th,
  .table td {
    font-size: 1.05rem;
    vertical-align: middle;
  }
  
  .table thead th {
    background-color: #e9ecef;
  }
  

  .card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
